body{
    margin: 0;
    padding: 0;
    width: 940px;
    margin: 0 auto;
}
.container1{
    display:grid;
    grid-template-columns: repeat(4,220px);
    justify-content: space-between;
}
.container1 > div{
    height: 220px;
    background: grey;
}
.container2{
    display:grid;
    grid-template-columns: repeat(8, 100px);
    justify-content: space-between;
    margin-top: 20px;
}
.container2 > div {
    height: 100px;
    background: grey;
}
.container3{
    display:grid;
    grid-template-columns:700px 220px;
    grid-gap: 20px;
    margin-top: 20px;
}
.container3 > div{
    background: grey;
    height: 220px;
}
.container4{
    display:grid;
    grid-template-columns:220px 700px;
    grid-gap: 20px;
    margin-top: 20px;
}
.container4 > div{
    background: grey;
    height: 220px;
}
.container5{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.container5 > div {
    background: grey;
    height: 220px;
    grid-row: span 2;
}