.wrapper, .bottom {
    width:800px;
    margin:auto;
    display: flex;
}
.row {
    display: flex;
}
.cell {
    height:180px;
    margin:10px;
    background:red;
}
.little-col {
    width:80px;
    height:80px;
}
.col-1 {
    width:180px;
}
.col-2 {
    width:380px;
}
.col-3 {
    width:580px;
}
.left {
    flex-grow: 3;
}
.right {
    flex-grow: 1;
}
.bottom {
    flex-direction: column;
}