.wrapper, .bottom {
    width:960px;
    margin:auto;
    display: flex;
}
.row {
    display: flex;
}
.cell {
    height:220px;
    margin:10px;
    background:red;
}
.little-col {
    width:100px;
    height:100px;
}
.col-1 {
    width:220px;
}
.col-2 {
    width:460px;
}
.col-3 {
    width:700px;
}
.left {
    flex-grow: 3;
}
.right {
    flex-grow: 1;
}
.bottom {
    flex-direction: column;
}