.wrapper, .bottom {
    width:600px;
    margin:auto;
    display: flex;
}
.row {
    display: flex;
}
.green {
    background:green;
}
.red {
    background:red;
}
.lightgreen {
    background:lightgreen;
}
.cell {
    height:150px;
    margin:10px;
    background:red;
}
.col {
    flex-grow: 1;
}
.left {
    flex-grow: 3;
}
.right {
    flex-grow: 1;
}
.bottom {
    flex-direction: column;
}