main {
    width:400px;
    margin:auto;
}
.clearfix {
    clear:both;
}
.top .left, .middle .right {
    background:green;
}
.top .right, .middle .left, .bottom .right > div:first-child {
    background:yellow;
}
.left, .right {
    width:50%;
    height:100px;
    float:left;
}
.bottom .left div {
    height:100px;
}
.bottom .left div:first-child {
    background:red;
    width:30%;
    float:left;
}
.bottom .left div:nth-child(2) {
    background:lightblue;
    width:70%;
    float:right;
}
.bottom .right > div {
    width:50%;
    height:100px;
    background:red;
    float:left;
}
.bottom .right > div > div:first-child {
    height: 70px;
    background: aqua;
}