main {
    width:800px;
    margin:auto;
}
.clearfix {
    clear:both;
}
.float_left {
    float:left;
}
.float_right {
    float:right;
}
.brown {
    background:brown;
}
.coral {
    background:coral;
}
.goldenrod {
    background:goldenrod;
}
.sienna {
    background:sienna;
}
.darkseagreen {
    background:darkseagreen;
}
.sandybrown {
    background:sandybrown;
}
.left, .right {
    width:35%;
}
.middle {
    width:30%;
}
/******************** top *********************/
/******* top left *****/
.top .left .col-1:first-child {
    width:20%;
}
.top .left .col-1:first-child div:first-child {
    min-height:200px;
}
.top .left .col-1:first-child div:nth-child(2) {
    min-height:100px;
}
.top .left .col-1:nth-child(2) {
    width:50%;
}
.top .left .col-1:nth-child(2) div {
    min-height:100px;
}
.top .left .col-1:nth-child(3) {
    width:30%;
}
.top .left .col-1:nth-child(3) div:first-child {
    height:100px;
}
.top .left .col-1:nth-child(3) div:nth-child(2) {
    height:200px;
}
/******* top left end *****/
/******* top middle *****/
.top .middle div:first-child {
    height:100px;
}
.top .middle div:nth-child(2) {
    height:200px;
}
/******* top middle end *****/
/******* top right *****/
.top .right > div {
    width:25%;
    height:300px;
}
.top .right > div:last-child {
    height:0px;
}
.top .right > div:first-child {
    width:50%;
}
.right_top > div:first-child {
    width:60%;
} 
.right_top > div:first-child > div:first-child {
    height:150px;
} 
.right_top > div:first-child > div:nth-child(2) {
    height:50px;
} 
.right_top > div:nth-child(2) {
    width:40%;
    height:200px;
}
.right_bottom {
    height:100px;
}
/******* top right end *****/
/******************* top end *******************/

/********************* bottom ******************/
.bottom_left_top div {
    height:85px;
}
.bottom_left_top div:last-child {
    height:130px;
}
.bottom_left_bottom > div {
    width:33.3%;
    height:300px;
}
.bottom_left_bottom > div:nth-child(2) div:first-child {
    height:50px;
}
.bottom_left_bottom > div:nth-child(2) div:nth-child(2) {
    height:250px;
}
.bottom_left_bottom > div:last-child {
    width:0px;
    height:0px;
}
.bottom .middle div:first-child > div {
    width:50%;
    height:300px;
}
.bottom .middle div:first-child > div:last-child {
    height:0px;
}
.bottom .middle > div:nth-child(2) {
    height:300px;
}
.bottom_middle_top_right > div:first-child {
    height:50px;
}
.bottom_middle_top_right > div:nth-child(2) {
    height:250px;
}

.bottom_right_top > div:first-child > div:first-child {
    width:75%;
    height:85px;
}
.bottom_right_top > div:first-child > div:nth-child(2) {
    width:25%;
    height:85px;
}
.bottom_right_top > div:nth-child(2) > div {
    width:25%;
    height:85px;
}
.bottom_right_top > div:nth-child(2) > div:first-child {
    width:50%;
    height:85px;
}
.bottom_right_bottom > div:first-child > div:first-child {
    width:40%;
    height:250px;
}
.bottom_right_bottom > div:first-child > div:nth-child(2) {
    width:60%;
}
.bottom_right_bottom > div:first-child > div:nth-child(2) div {
    height:120px;
}
.bottom_right_bottom > div:first-child > div:nth-child(2) div:first-child {
    height:130px;
}
.bottom_right_bottom > div:nth-child(2) {
    height:180px;
}
/****************** bottom end ******************/