.button {
    color:black;
    border-radius:5px;
    background: transparent;
    border:1px solid gray;
    font-size:20px;
    width:90px;
    height:50px;
}
.button.primary {
    color:white;
    background:blue;
    border-radius:10px;
}
.button.default {
    border:1px solid gray;
}
.button.dashed {
    border:1px dashed gray;
}
.button.danger {
    color:red;
    background:lightgray;
}
.small {
    font-size:12px;
    width:70px;
    height:30px;
}
.large {
    font-size:22px;
    width:120px;
    height:70px;
}
.button.ghost {
    background:none;
}