body {
    background:url(images/runner.jpg) no-repeat;
    background-size:100%;
    margin:0px;
    padding:0px;
}
.bg {
    position:absolute;
    background: rgba(0,0,0,0.5);
    width:100%;
    height:100vh;
}
.modal {
    width:500px;
    background:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.modalHead, .modalContent {
    border-bottom:1px solid gray;
}
.modalHead h2, .modalContent p {
    padding-left:15px;
}
.modalHead a {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    color:gray;
}
.modalFooter {
    padding:30px;
    position: relative;
}
.modalButtons {
    position:absolute;
    right:15px;
    top: 15px;
}
.modalButtons div {
    display: inline-block;
    padding:5px 10px;
    border: 1px solid gray;
    border-radius:5px;
}
.ok {
    background:blue;
    border:none;
    color:#fff;
}